body {
  background-color: #efefef;
}

div {
  font-family: "Helvetica Neue", Helvetica, Georgia, Arial, Sans-Serif;
  font-weight: normal;
  line-height: 25px;
}

figure {
  margin: 0px;
}

#wrapper {
  margin: 20px auto;
  max-width: 460px;
}

#flags {
  padding: 10px;
}

#flags > a {
  padding: 3px;
}

#splash {
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0px 10px 10px #888;
  -webkit-box-shadow: 0px 10px 10px #888;
  box-shadow: 0px 10px 10px #888;
}

#github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

/* vim: set ts=2 sw=2 et: */
