body {
  background-color: #efefef;
}

div {
  font-family: "Helvetica Neue", Helvetica, Georgia, Arial, Sans-Serif;
  font-weight: normal;
  line-height: 25px;
}

figure {
  margin: 0px;
}

a:focus {
  outline: 0;
}

img {
  max-width: 460px;
}

#wrapper {
  margin: 20px auto;
  max-width: 460px;
}

#flags {
  padding: 10px;
}

#flags > a {
  padding: 3px;
}

#splash {
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-box-shadow: 0px 10px 10px #888;
  -webkit-box-shadow: 0px 10px 10px #888;
  box-shadow: 0px 10px 10px #888;
}

#top-space {
  text-align: center;
  font-size: 12px;
  padding-bottom: 10px;
}

#top-space-links > a {
  margin: 20px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

#top-space-links > a:hover {
  color: #ddd;
  text-decoration: underline;
}

#top-space-banner {
  width: 100%;
}

.github-fork-ribbon:before {
  background-color: #000 !important;
}

/* vim: set ts=2 sw=2 et: */
